<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yws.dao.OrderDAO">
    <!-- 创建订单 -->
    <insert id="createOrder" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
        insert into stock_order values (#{id}, #{sid}, #{uid}, #{name}, #{createDate})
    </insert>

    <!-- 创建订单 -->
    <insert id="createOrderNX" parameterType="Order" useGeneratedKeys="true" keyProperty="id">
        insert into stock_order
        select distinct #{id}, #{sid}, #{uid}, #{name}, #{createDate}, #{msgid} from stock_order
        where not exists (select id from stock_order where msgid = #{msgid})
    </insert>

    <!-- 查询是否存在 -->
    <select id="existMsgid" parameterType="string" resultType="java.lang.Integer">
        select count(1) from stock_order where msgid = #{msgid}
    </select>

</mapper>
